/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  /* dark mode setup */
  --dark-mode-bg-color: #333;
  --dark-mode-text-color: #f0f0f0;
  --backgroundColor: #f8fafc;
  --textColor: #0f172a;
  --darkModeTransition: color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
}

/* 초기화(마진 패딩 0, 박스사이징을 border-box) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* toggle 테마  */
.toggle-container {
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  justify-content: end;
}

.dark-toggle {
  margin-top: 20px;
  background-color: transparent;
  border-color: transparent;
  width: 5rem;
  height: 2rem;
  place-items: center;
  cursor: pointer;
}

.toggle-icon {
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
}

/* 이미지 갤러리 스타일링 */
.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gallery .images {
  gap: 20px;
  max-width: 85%;
  margin: 40px 0;
  columns: 5 310px;
  list-style: none;
}
/* 이미지를 담는 박스 */
.gallery .images .img {
  display: flex;
  cursor: pointer;
  /* 오버플로우는 안에있는 아이템이 밖으로 나올때 안보이게함 */
  overflow: hidden;
  position: relative;
  margin-bottom: 14px;
  border-radius: 4px;
}
/* 실제 이미지 태그 */
.gallery .images img {
  width: 100%;
  transition: transform 0.2s ease;
}
.gallery .images .img:hover img {
  transform: scale(1.1);
}

/* 다크모드 */
.dark-theme {
  background: var(--dark-mode-bg-color);
  color: var(--dark-mode-text-color);
}

body {
  background: var(--backgroundColor);
  color: var(--textColor);
  transition: var(--darkModeTransition);
}
