/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  /* dark mode setup */
  --dark-mode-bg-color: #333;
  --dark-mode-text-color: #f0f0f0;
  --backgroundColor: #f8fafc;
  --textColor: #0f172a;
  --darkModeTransition: color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
}

/* 초기화(마진 패딩 0, 박스사이징을 border-box) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* toggle 테마  */
.toggle-container {
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  justify-content: end;
}

.dark-toggle {
  margin-top: 20px;
  background-color: transparent;
  border-color: transparent;
  width: 5rem;
  height: 2rem;
  place-items: center;
  cursor: pointer;
}

.toggle-icon {
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
}

/* 서치 폼 */
.title {
  color: #645cff;
  text-align: center;
  font-family: Roboto;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 100% */
  letter-spacing: 1px;
  text-transform: capitalize;
}
.search-form {
  display: grid;
  max-width: 700px;
  margin: 0 auto;
  padding: 10px;
  margin-top: 2rem;
  grid-template-columns: 1fr auto;
}
.search-input {
  border-color: #94a3b8;
  transition: var(--darkModeTransition);
  color: var(--textColor);
  border-radius: 10px;
  text-align: center;
}
.btn {
  display: flex;
  padding: 7px 12.23px 7px 12px;
  align-items: flex-start;
  background-color: #756efc;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.06),
    0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-size: large;
}

/* 이미지 갤러리 스타일링 */
.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gallery .images {
  gap: 20px;
  max-width: 85%;
  margin: 40px 0;
  columns: 5 310px;
  list-style: none;
}
/* 이미지를 담는 박스 */
.gallery .images .img {
  display: flex;
  cursor: pointer;
  /* 오버플로우는 안에있는 아이템이 밖으로 나올때 안보이게함 */
  overflow: hidden;
  position: relative;
  margin-bottom: 14px;
  border-radius: 4px;
}
/* 실제 이미지 태그 */
.gallery .images img {
  width: 100%;
  transition: transform 0.2s ease;
}
.gallery .images .img:hover img {
  transform: scale(1.1);
}

/* 다크모드 */
.dark-theme {
  background: var(--dark-mode-bg-color);
  color: var(--dark-mode-text-color);
}

body {
  background: var(--backgroundColor);
  color: var(--textColor);
  transition: var(--darkModeTransition);
}

/* Image lightbox styling */
.lightbox {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  position: fixed;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.65);
}
.lightbox.show {
  visibility: visible;
}
.lightbox .wrapper {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 100%;
  padding: 20px;
  max-width: 850px;
  background: #fff;
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.9);
  transition: transform 0.1s ease;
}
.lightbox.show .wrapper {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}
.wrapper :where(header, .details) {
  display: flex;
  align-items: center;
}
.wrapper header {
  justify-content: space-between;
}
header .details i {
  font-size: 1.7rem;
}
header .details span {
  font-size: 1.2rem;
  margin-left: 10px;
}
header .buttons i {
  height: 40px;
  width: 40px;
  cursor: pointer;
  display: inline-block;
  color: #fff;
  margin-left: 10px;
  background: #6c757d;
  font-size: 1.25rem;
  line-height: 40px;
  text-align: center;
  border-radius: 4px;
  transition: 0.2s ease;
}
header .buttons i:hover {
  background: #5f666d;
}
.wrapper .preview-img {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.preview-img .img {
  max-height: 65vh;
}
.preview-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.table {
  display: flex;
  justify-content: center;
}

.view,
.download,
.like {
  margin-top: 1rem;
  text-align: center;
}

.views,
.downloads,
.likes {
  margin-bottom: 0.5rem;
  color: #333;
}
.view,
.download {
  margin-right: 1rem; /* Adjust the value as needed */
}

.sharing {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.twitter,
.youtube {
  margin-right: 3rem;
}

.twitter,
.youtube,
.line {
  font-size: xx-large;
}

/* Responsive media query code */
@media screen and (max-width: 688px) {
  .lightbox .wrapper {
    padding: 12px;
    max-width: calc(100% - 26px);
  }
  .wrapper .preview-img {
    margin-top: 15px;
  }
  .gallery .images {
    max-width: 100%;
    padding: 0 13px;
    margin-top: 20px;
  }
}
